torch
numpy
transformers
langchain-core
openai==0.28
google-generativeai
gspread
oauth2client
faiss-cpu
requests
jsons
flask
celery
redis
pinecone-client
gunicorn
absl-py
grpcio
pymongo[srv]==3.11.0 
python-dotenv
bcrypt